.name{
    color:whitesmoke; 
    font-family:'Palatino Linotype';
    font-size:2rem; 
    text-align: right;
    letter-spacing: 2px;
    text-transform: lowercase; 
    position: relative;
    top: 40px; 
    right: 30px;
   

}

.heading1,.heading2{
    font-style: italic;
    font-weight: 700;
    font-family:'Times New Roman';
    color:#c0c0c0;
    text-shadow: 2px 2px 2px purple;
    letter-spacing: 1px;
    font-size: 4rem;

}
    


body{
    width: 80%; 
    background-color: rgba(105, 105, 105, 0.856); 

}

.img1, .img2,.img3{
    background-color: #3610109f;
    border-radius: 10px;
    position: relative;
    bottom: 10px; 
    left: 120px; 
}

img{
    width: 20%; 
    padding: 5px;
    border-radius: 2px; 
    background-color: white;
    position: relative;
    bottom: 30px; 
    left: 30px; 
    
}

.heading2{
    position: absolute; 
    top: 3px; 
    right: 130px; 
    
}

.headings{
    background-color: black;
    width: 125%; 
    box-sizing: content-box; 
    border-radius: 5px; 
    
}

a{
    text-align: center;
    font-size: 30px; 
    letter-spacing: 2px; 
    text-shadow: 1px 1px 1px black;
     
}


